<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__message">
                <h2 class="footer__message-title">Оставьте заявку</h2>
                <p class="footer__message-description">
                    на
                    <span class="footer__message-description--colored">бесплатную консультацию</span>
                    <br />
                    и аудит вашего сайта
                </p>
            </div>
            <form class="footer__form form" action="">
                <div class="form__fields">
                    <label class="form__field">
                        <input class="form-input__name" placeholder="Ваше имя*" type="text" required />
                    </label>
                    <label class="form__field">
                        <input class="form-input__tel" placeholder="Телефон или мессенджер*" type="text" required />
                    </label>
                    <label class="form__field">
                        <textarea
                            class="form-input__message"
                            cols="30"
                            rows="10"
                            placeholder="Опишите запрос"
                        ></textarea>
                    </label>
                </div>
                <div class="form__bid">
                    <button class="form__btn-submit" type="submit">Оставить заявку</button>
                    <label class="form__privacy">
                        <input class="form__privacy-checkbox" checked type="checkbox" required />
                        <p class="form__privacy-text">
                            Я согласен с
                            <a class="form__privacy-link" href="https://growtask.ru/privacy"
                                >политикой обработки персональных данных</a
                            >
                        </p>
                    </label>
                </div>
                <div class="form__contacts">
                    <div class="form__contacts-top">
                        <p class="form__contacts-text">Либо свяжитесь с нами самостоятельно:</p>
                    </div>
                    <div class="form__contacts-mid">
                        <a class="form__contacts-tel" href="tel:+89223544063">8 922 354 40 63</a>
                        <div class="form__contacts-socials">
                            <a class="form__contacts-vk" href="#"></a>
                            <a class="form__contacts-tg" href="#"></a>
                        </div>
                    </div>
                    <div class="form__contacts-bot">
                        <a class="form__contacts-mail" href="mailto:info@growtask.ru">info@growtask.ru</a>
                    </div>
                </div>
                <div class="form__contacts-socials--mobile">
                    <a class="form__contacts-vk" href="https://vk.com/growtask"></a>
                    <a class="form__contacts-tg" href="https://t.me/growtask"></a>
                </div>
            </form>
        </div>
    </div>
</footer>
