<div class="modal-preview-success">
    <div class="modal-preview-success__wrapper">
        <div class="modal-preview-success__inner">
            <h2 class="modal-preview-success__title">
                Спасибо! Мы подберём персональное предложение и перезвоним вам
            </h2>
            <button class="modal-preview-success__btn-close">
                <svg
                    width="34"
                    height="34"
                    viewBox="0 0 34 34"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g clip-path="url(#clip0_1672_2719)">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.51382 17C7.51382 16.4477 7.96154 16 8.51382 16L15.9991 16L15.9991 8.51472C15.9991 7.96243 16.4468 7.51472 16.9991 7.51472C17.5514 7.51472 17.9991 7.96243 17.9991 8.51472L17.9991 16H25.4844C26.0367 16 26.4844 16.4477 26.4844 17C26.4844 17.5523 26.0367 18 25.4844 18H17.9991L17.9991 25.4853C17.9991 26.0376 17.5514 26.4853 16.9991 26.4853C16.4468 26.4853 15.9991 26.0376 15.9991 25.4853L15.9991 18L8.51382 18C7.96154 18 7.51382 17.5523 7.51382 17Z"
                            fill="white"
                        />
                    </g>
                    <defs>
                        <clipPath id="clip0_1672_2719">
                            <rect
                                width="24"
                                height="24"
                                fill="white"
                                transform="translate(0.0292969 17) rotate(-45)"
                            />
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
</div>
