// FONTS SETTING
$fw-extra-bold: 800;

// COLORS

$color-primary-100: #b6f2d4;
$color-primary-200: #18f285;
$color-primary-300: #13bf69;

$color-main: #f2183d;
$color-dark: #cc1433;
$color-light: #f24965;
$color-lighter: #f2b6c0;

$color-gray-100: #ffffff;
$color-gray-200: #f2f2f2;
$color-gray-300: #999999;
$color-gray-400: #343434;
$color-gray-500: #262626;
$color-gray-600: #0d0d0d;

// MEDIA SCREEN WIDTH

// $screen-width-fullhd: 1920px;
$screen-width-hd: 1401px;
$screen-width-tablet: 991px;
$screen-width-mobile: 576px;
